#profile-pic.overlay-upload-btn{

	.hover{
		display: none;
		background: rgba(0, 0, 0, .6);
		a,&{font-weight: 500; font-size: 10px; color: #fff; &:hover{text-decoration: none;}}
		margin: 0 1em 1em 0;
		border-radius: 100%;
		width: 104px;
		height: 104px;
		position: absolute;
		left: 0px;
		text-align: center;
		z-index: 5;
	}
	&:hover{
		.hover{
			display: inline-block;
			
		}
	}
}

#profile-pic2.overlay-upload-btn{

	.hover{
		display: none;
		background: rgba(0, 0, 0, .6);
		a,&{font-weight: 500; font-size: 10px; color: #fff; &:hover{text-decoration: none;}}
		margin: 0 1em 1em 0;
		border-bottom-left-radius: 45px * 2;
		border-bottom-right-radius: 45px * 2;
		width: 144px;
		height: 68px;
		position: absolute;
		bottom: -10px;
		left: 0px;
		text-align: center;
		cursor: pointer;
	}
	&:hover{
		.hover{
			display: inline-block;
			
		}
	}
}

#fullbody-pic.overlay-upload-btn{


	.hover{

		display: none;
		background: rgba(0, 0, 0, .6);
		
		a,&{font-weight: 500; font-size: 14px; color: #fff; &:hover{text-decoration: none;}}
		
		margin: 0 1em 1em 0;
		width: 100%;
		height: 100px;
		position: absolute;
		bottom: -10px;
		text-align: center;

	}

	&:hover{
		.hover{
			display: inline-block;
			
		}
	}
}